@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

*{
    padding: 0; margin: 0; box-sizing: border-box;
      
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
     
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
}

body{
    background-color: #000000;
}

#container-button{
    width: 100vw;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.top-buttons{
    width: 115px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    background-color: #808080;
    border: 2px solid #404040;
    border-radius: 10px;

}

.top-buttons:hover{
    background-color: #858585;
    opacity: 0.8;
}

.top-buttons:active{
    background-color: #909090;
    opacity: 0.6;
}

.item-price{
    color: #808080;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 30px;
    justify-content: center;
}

li{
    border: 2px solid #c2a72f;
    border-radius: 5px;
    padding: 5px;
}

img{
    width: 100%;
    border-radius: 5px;
}

p{
    color: #FFFFFF;
}

