* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

script {
    visibility: hidden;
}

title {
    visibility: hidden;
}

head {
    visibility: hidden;
}

p {
    width: 120px;
    height: 20px;
    font-size: 20px;
    font-weight: 440;
    text-align: left;
    color: rgba(119, 119, 119, 1);
}

span {
    margin-top: -25px;
    margin-left: 100px;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

option {
    height: 120px;
    font-size: 18px;
}

input {
    font-size: larger;
}

select {
    font-size: 20px;
}

button {
    width: 327px;
    height: 48px;
    margin-left: 24px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 500;
    background-color: rgb(93, 170, 49);
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}

#big-image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
}

#big-div {
    width: 375px;
    height: 812px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    margin-top: 70px;
    margin-left: 40%;
}

#bottom-div {
    height: 340px;
    border-style: solid;
    border-radius: 15px;
    margin: 30px;
}



#brazil-flag {
    width: 55px;
    margin-left: 125px;
    margin-top: -70px;
}

#title-real {
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

#currency-value-real {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    color: black;
    font-weight: 600;
}



#arrow {
    width: 55px;
    margin-left: 127px;
    margin-top: 30px;
}



#united-states-flag {
    bottom: 130px;
    margin-left: 128px;
    position: absolute;
}

#title-dolar {
    width: 100%;
    margin-top: 90px;
    text-align: center;
}

#currency-value-dolar {
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 600;
}



.white-boxes {
    width: 327px;
    height: 48px;
    padding-left: 20px;
    margin-top: 5px;
}

.little-divs {
    padding-left: 24px;
    padding-top: 30px;
}

input::placeholder {
    font-size: 18px;
    font-weight: 500;
}

button:hover {
    background-color: rgb(146, 209, 110);
    color: rgb(87, 87, 87);
}


@media(max-width: 450px) {
    #big-div {
        width: 345px;
        height: 770px;
        margin-left: 15vw;
        position: fixed;
        left: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #big-image {
        width: 490px;
        height: 932px;
        position: fixed;
    }

    .white-boxes {
        width: 315px;
        margin-left: -22px;
    }

    button {
        width: 315px;
        margin-left: 1px;
    }

    #bottom-div {
        width: 300px;
        height: 340px;

    }

    #container {
        width: 86%;
        height: 42.5%;
        margin-top: 0px;
        position: absolute;
    }

    #title-real {
        width: 100%;
        text-align: center;
    }

    #united-states-flag {
        position: absolute;
        bottom: 70px;
        right: 120px;
    }

    #currency-value-dolar {
        position: absolute;
        bottom: 25px;
    }

    #title-dolar {
        position: absolute;
        bottom: 48px;
    }

    #brazil-flag {
        margin-left: 121px;
    }

    #arrow {
        margin: 0 auto;
        margin-top: 25px;
    }
}